body{
    background-color: lightgray;
}

.wrapper{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 1200px;
    height: 80%;
    /* overflow auto otomatis menambahkan scroll untk melihat konten, hidden:menyembunyikan knten sesuai lembar frame , scroll:menambahkan scroll sebanyak apapun kontennya */
}
.wrapper .box-1{
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    overflow: auto;
    display: inline-block;
}
.wrapper .box-2{
    width: 150px;
    height: 150px;
    background-color: rgb(149, 219, 117);
    overflow: hidden;
    display: inline-block;
}
.wrapper .box-3{
    width: 150px;
    height: 150px;
    background-color: rgb(211, 246, 131);
    overflow: scroll;
    display: inline-block;
}
.wrapper .box-4{
    width: 70px;
    height: 150px;
    background-color: rgb(240, 128, 212);
    overflow-x: scroll;
    display: inline-block;
}